@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
  width: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

@keyframes scrollShow {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(60px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    filter: blur(0);
  }
}

.scrollCard {
  view-timeline-name: --reveal;
  animation-name: scrollShow;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 0% cover 30%;
}


/* Estilos generales de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #000000; 
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}
/**/

